*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
	background-color: #182439;
}

.red{
	color:red;
}

.green{
	color:rgb(0, 135, 0);
}

header{
	background-image:linear-gradient(to right,rgb(38, 39, 51),rgb(10, 19, 50));
	height:120px;
	color:white;
	display:flex;
	align-items:center;
	justify-content: center;
	border-bottom:4px solid rgb(0, 213, 255);
	box-shadow: 5px 0 15px rgb(0,213,255);
}

header h1{
	margin: 0 30% 0 0 ;
}

header ul {
	display:inline-flex;
	
}

header ul li{
	list-style-type: none;
}

header ul li a{
	text-decoration:none;
	color:white;
	display:block;
	padding: 3vh 2vw;
	font-size: 20px;
	border-radius: 15px;
}

header ul li a:hover{
	background-color: rgba(0, 204, 255, 0.196);
}

#vault{
	color:white;
	display: flex;
	padding:5vw 10vw;
}

#vault #left-side{
	display:block;
	background-color: #1d3b71;
	width:40%;
	margin:0 6vw 0 0 ;
	border-radius: 15px;
	/* padding:5vh 8vw; */
	transition:all 0.5s;
}

#vault #left-side:hover{
	transform: scale(1.01);
	box-shadow: 0 0 15px rgba(0, 213, 255, 0.422);
}

#vault #left-side h2{
	display:block;
	background-color: rgb(0, 213, 255);
	border-radius: 15px 15px 0 0;
	color:#182439;
	padding:2vh 2vw 1vh 2vw;
	font-size: 2.3vw;
}

#vault #left-side #total-amount{
	padding:2vh 2vw 1vh 2vw;
	font-size:2.3vw;
	font-weight: 600;
}

#vault #left-side .balance-change{
	display:flex;
	background-color: rgb(0, 213, 255);
	border-radius:0 0 15px 15px;
	color:#182439;
	font-weight: 700;
	padding:2vh 2vw 1vh 2vw;
	font-size: 1.2vw;
}

#vault #right-side{
	display:block;
	width:70%;
}

#vault #right-side .card{
	background-color: #1d3b71;
	padding:5vh 8vw;
	transition:transform 0.5s;
	border-radius:15px;
}

#vault #right-side .card:hover{
	transform: scale(1.02);
}






